/* Previous comments */
.commentName{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border-bottom:6px double White;
  border-left:6px double White;
  border-right:6px double White;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
  margin-bottom: 15px;
  background-color:rgba(55,98,227,.4);
  color:white;
}
.commentSaid{
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  font-size: 20px;
  border-top:6px double White;
  border-left:6px double White;
  border-right:6px double White;
  background-color:rgba(55,98,227,.4);
  color:white;
}
.comments{
  width: 50%;
  margin-left: 25%;
}
/* Header */
h1{
  position:inherit;
  margin-top: 70px;
  font-family: 'Tangerine', cursive;
  font-size: 60px;
}
h3{
  font-family: 'Cormorant SC', serif;
}
#email{
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Cormorant SC', serif;
}

/* form style */
#name{
  opacity: .7;
}
.comment{
  text-align: center;
  margin-top: 50px;
  color: rgba(55,98,227,1);
  padding: 15px;
  background-image: url('/assets/img/handheart.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 500px;
  margin-top: 30px;
}
textarea{
  margin-top: 47px;
  width: 500px;
  opacity: .7;
}
.comment button{
  background-color: white;
  color: rgba(55,98,227,.6);
  border-radius: 20px;
}

/* cell phone */
@media screen and (max-width: 500px){
  h1{
    margin-top: 230px;
  }
  .comments{
    width: 80%;
    margin-left: 10%;
  }
  .comment{
    background-position: center;
  }
  textarea{
    margin-top: 7px;
    width: 300px;
  }
}
