/* bottom section */
.bottom{
  background-color: rgba(255,211,150,.4);
  font-family: 'Cormorant', cursive;
  padding:7%;
}
h3{
  margin-top: 5px;
}
/* Top section */
#coming{
  background-image: url("/assets/img/big.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  margin-top: 50px;
  height:600px;
  border-bottom: 3px solid white;
}
#coming h1{
  padding-top: 50px;
  font-size: 80px;
  font-family: 'Tangerine', cursive;
  color:white;
  text-align: center;
}
#coming h3{
  margin-top: 300px;
  margin-left: 20px;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  color:white;
}
#rsvpMessage{
  float: right;
  margin-right: 40px;
}
#amountOfKids{
  display:none;
}
#formIntro{
  text-align: center;
}
#plusOne{
  display:none;
}
/* fade in top "RSVP" */
#ar{
  opacity: 0;
}
#es{
  opacity: 0;
}
#ve{
  opacity: 0;
}
#pee{
  opacity: 0;
}
/* fade in writing in header */
#letUsKnow{
  opacity: 0;
}
#cantWait{
  opacity: 0;
}
/* multi-choice part of form */
.howMany{
  margin-left: 120px;
}
select{
  margin-left: 160px;
  background-color: rgba(128,90,21,.8);
  color: rgba(254,191,64,1);
}
#addRSVP{
  margin-top: 56px;
  margin-left: 250px;
}
.right{
  border-radius: 10px;
  background-color:rgba(239, 213, 153,.8);
  margin-right: 10px;
  padding:15px;
  width:500px;
  height: 350px;
  margin-left:50px;
  margin-top: 10px;
  border: 6px double rgba(254,191,64,1);
}
/* Left side of form */
#RSVP{
  margin-left: 20%;
  margin-top: 50px;
}
#RSVP button{
  margin-top: 10px;
  background-color: rgba(128,90,21,.8);
  border-radius: 20px;
  color: rgba(254,191,64,1);
    font-family: 'Cormorant SC', serif;
}
.left{
  border-radius: 10px;
  border: 6px double rgba(254,191,64,1);
  background-color:rgba(239, 213, 153,.8);
  padding:15px;
  width:500px;
  margin-right: 50px;
  margin-left:50px;
  height: 350px;
  margin-top: 10px;
}
/* submit button */
#addRSVP{
  margin-top: 10px;
  background-color: rgba(128,90,21,.8);
  border-radius: 20px;
  color: rgba(254,191,64,1);
  font-family: 'Cormorant SC', serif;
}
