<div class='row'>
  <div id="coming">
    <h1>R.S.V.P</h1>
    <div id="rsvpMessage">
      <h3>Let us know if you will be attending.<br> We can't wait to see you!</h3>
    </div>
  </div>
</div>
<div class='row'>
  <h4 id="formIntro">Please fill out all information by 4.1.18</h4>
  <form id="RSVP">
    <h4>Your name</h4>
    <input id="first" #first placeholder="first name" required>
    <input id="last" #last placeholder="last name" required><br>
    <button type="button" id="plus">Bringing a Date?</button><br>
  <div id="plusOne">
    <h4>Date's Name</h4>
    <input id="datefirst" name="datefirst" placeholder="first name">
    <input id="datelast" name="datelast" placeholder="last name"><br>
  </div>
    <button type='button' id='kids'>Kids?</button><br>
    <div id='amountOfKids'>
      <h4>Children</h4>
      <input id="numberOfKids" name='numberOfKids' placeholder='Number of children'><br>
    </div>
    <h3>Will you be attending...</h3>
    <h4>Reception</h4>
    <input type="radio" #reception value="yes"> Yes<br>
    <input type="radio" name="reception" value="no"> No<br>
    <h4>Brunch</h4>
    <input type="radio" name="brunch" value="yes"> Yes<br>
    <input type="radio" name="brunch" value="no"> No<br>
    <h3>...and will you be staying at the Westin?</h3>
      <input type="radio" name="hotel" value="yes"> Yes<br>
      <input type="radio" name="hotel" value="no"> No<br>

      <button id="addRSVP" (click)="submit(first.value, last.value)">Submit</button>
  </form>
</div>
