<div class='row'>
  <div id="coming">
    <h1><span id="ar">R.</span><span id="es">S.</span><span id="ve">V.</span><span id="pee">P.</span></h1>
    <div id="rsvpMessage">
      <h3><span id="letUsKnow">Let us know if you will be attending.</span><br> <span id="cantWait">We can't wait to see you!</span></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="bottom">
    <h4 id="formIntro">Please fill out all information by 4.1.18</h4><hr>
    <div class="left">
    <div id="RSVP">
      <h4>Your name</h4>
      <input id="first" #first placeholder="First Name" required>
      <input id="last" #last placeholder="Last Name" required><br>
      <button type="button" id="plus">Bringing a Date?</button><br>
    <div id="plusOne">
      <h4>Date's Name</h4>
      <input id="datefirst" #datefirst placeholder="First Name">
      <input id="datelast" #datelast placeholder="Last Name"><br>
    </div>
      <button type='button' id='kids'>Kids?</button><br>
      <div id='amountOfKids'>
        <h4>Children</h4>
        <input id="numberOfKids" #numberOfKids placeholder='Number Of Children'><br>
      </div>
    </div>
  </div>
  <hr>
    <div class="right">
      <h3>Will your party be attending...</h3>
      <h4 class="howMany">Reception</h4>
      <select #reception>
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select>
      <h4 class="howMany">Brunch</h4>
      <select #brunch>
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select>
      <h4 class="howMany">Staying at the Westin?</h4>
      <select #hotel>
        <option value=true>Yes</option>
        <option value=false>No</option>
      </select><br>
      <button id="addRSVP" (click)="submit(first.value, last.value, datefirst.value, datelast.value, numberOfKids.value, reception.value,brunch.value,hotel.value)">Submit</button>
    </div>
    <hr>
  </div>
</div>
