
.navbar{
  background-color:rgba(55,98,227,.4);
}
.navbar a{
  color:white;
  font-family: 'Cormorant SC', serif;
}
#admin{
  float:right;
  list-style-type: none;
  margin-right: 8px;
  margin-top: 12px;
  font-size: 15px;
}
#admin a{
  color:white;
  font-family: 'Cormorant SC', serif;
}
@media screen and (max-width: 500px){
  .nav li a{
    display: block;
    margin-top: 0px;
    margin-left: 0px;
  }
  .navFont{
    float:none;
    margin-right: 50%;
    margin-bottom: 15px;
    height:10px;
  }
}
