<div class="container back">
    <div class="topSide">
      <h1>Wedding</h1>
        <p>2pm-3pm</p>
        <p>Rainier Club</p>
        <p> 820 4th Ave</p><p> Seattle, WA 98104</p>
    </div>
    <div class="middleSide">
      <h1>Reception</h1>
      <p>4pm-12am</p>
      <p>Columbia Tower Club</p>
      <p>701 5th Avenue</p><p> Seattle, WA 98104</p>
    </div>
    <div class="bottomSide">
      <h1>Brunch</h1>
      <p>4pm-12am</p>
      <p>Columbia Tower Club</p>
      <p>701 5th Avenue</p><p> Seattle, WA 98104</p>
    </div>
</div>
