#guest{
  float:left;
  margin-right: 10px;
}
h2{
  margin-top: 70px;
}
.topper{
    font-family: 'Cormorant', cursive;
}
.guestTitle{
  margin-bottom: 20px;
  margin-top: 10px;
  width:44%;
  margin-left: 28%;
  font-family: 'Great Vibes', cursive;
  padding-left: 40px;
  font-size: 50px;
}
.guestList{
  margin-bottom: 20px;
  margin-top: 10px;
  width:50%;
  margin-left: 25%;
  color:white;
  background-color: rgba(55,98,227,.6);
  padding-left: 40px;
  border: 6px double white;
  border-radius: 10px;
  font-family: 'Tangerine', cursive;

}
.guestList h5{
  margin-top: -10px;
  padding-left: 10px;
  font-size: 20px;
}
.guestList h4{
  padding-left: 10px;
  font-size: 35px;
}
#delete{
  margin-top: 70px;
  font-size: 20px;
}
#delete a{
  color:black;
}
#delete a:hover{
  font-size: 30px;
  margin-top: 55px;
}
@media screen and (max-width: 500px){
  .topper{
    margin-top: 200px;
  }
  .guestList h5{
    margin-top: -10px;

    padding-left: 0px;

    font-size: 15px;
  }
  .guestList h4{
    padding-left: 25px;
    padding-right: 8px;
    font-size: 30px;
    margin-right: 30px;
    padding-right: 10px;
  }
}
