.welcomeBackground{
  background-image: url('/assets/img/cliff.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:27%;
}
h1{
  font-family: 'Tangerine', cursive;
  color:	white;
  text-align: center;
  font-size: 150px;

}
p{
  font-family: 'Tangerine', cursive;
  color:	white;
  text-align: center;
  font-size: 60px;
}
/*The three lines of text that will fade-in in order*/
#first{
  display:none;
}
#second{
  display:none;
}
#third{
  display:none;
}
#hidden{
  position: absolute;
  opacity: 0;
  font-size: 25px;
}
