p{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
h3{
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
}
button{
  border-radius: 20px;
  background-color: red;
  color:white;
  margin-left: 700px;
}
.top{
  margin-top: 70px;
}
@media screen and (max-width: 500px){
  .top{
    margin-top: 200px;
  }
}
