/* background image adn text */
.travelBackground{
  background-image: url('/assets/img/needle3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 500px;
  margin-top: 50px;
}
.travelBackground h1{
  float:right;
  margin-right: 50px;
  font-family: 'Cormorant SC', serif;
  font-size: 60px;
  color:white;
  border-bottom: 2px solid white;
}
.travelBackground p{
  float:right;
  margin-top: 100px;
  color:white;
  font-family: 'Cormorant', cursive;
  font-size: 25px;
}
/* styles both columns */
li{
  list-style-type: none;
}
.planeToDown{
  background:white;
  margin-left:70px;
  font-family: 'Cormorant', serif;
  font-size: 17px;
}
.planeToDown h2{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px double rgba(55,98,227,.6);;
}
/* hetel section */
.hotel{
  background-image: url('/assets/img/Westin.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 500px;
  margin-top: 30px;
}
.listBold{
  font-family: 'Cormorant', serif;
  font-size: 30px;
}
#hotelList{
  text-align: center;
  font-family: 'Cormorant', serif;
}
#hotelList li{
  font-size: 15px;
}
#hotelTop{
  text-align: center;
  font-family: 'Cormorant', serif;
}
/* needed for jquery slideIn */
#travelHead{
  display: none;
}
#travelTopHead{
  display:none;
}

@media screen and (max-width: 500px){
  #travelHead{
    display: none;
    margin: 10px 3px 0 3px;
  }
  #travelTopHead{
    display:none;
    margin-top: 270px;
  }
  .travelBackground{
    margin-top: 0px;
  }
  .planeToDown{
    background:white;
    margin-left:10px;
    font-family: 'Cormorant', serif;
    font-size: 17px;
  }
  .planeToDown h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px double gold;
  }
  #hotelList{
    margin-right: 40px;
  }
}
