<!-- Heading  -->
<div class="travelBackground">
  <h1 id="travelTopHead">Travel</h1>
  <p id="travelHead">Let us help you find the best way to get to the wedding</p>
</div>
<hr>
<div class="container">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="planeToDown">
        <h2>Airport to Seattle</h2>
        <ol>
          <li><h3>The Link Train</h3><ul><li>Leaves every 10 minutes during daytime hours</li><li>Goes directly downtown</li><li>$3</li></ul></li>
          <li><h3>Shuttle Express</h3><ul><li>May take up to 30 minutes to leave airport</li><li>Kids under 17 ride free!</li><li>$16</li></ul></li>
          <li><h3>Uber/Lyft</h3><ul><li>Almost instant pick up</li><li>$30-$60 depending on which service you pick</li></ul></li>
        </ol>
      </div>
    </div>
    <!-- right column -->
    <div class="col-md-6">
      <div class="planeToDown">
        <h2>Driving</h2>
        <ul>
          <li><h3>Parking</h3><ul><li>Valet at The Westin Hotel if you are staying overnight</li><li>Cheapest to leave car there and use public transport to get to wedding and reception. Most parking in the area is limited to 2 hours or cost $15-$20</li><li>You may park near our home in the neighborhood for free and take a short walk to the train which will take you to downtown for $2.50 <a href="http://web6.seattle.gov/sdot/seattleparkingmap/">See map</a> of where you can park free anywhere in the city</li></ul></li>
          <li><h3>Carpool</h3><ul><li>Click the <a href="/contact">contact</a> tab and see if anyone else is coming from your area!</li></ul></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="hotel">
</div>
<hr>
<div>
<h1 id="hotelTop"> Stay with us at the Westin Hotel</h1>
<ul id="hotelList">
  <li class="listBold">Address:</li>
  <li>1900 5th Ave</li>
  <li>Seattle, WA</li><hr>
  <li class="listBold">Call For Reservations:</li>
  <li>206-728-100</li>
  <li>Reference "The Johnson Wedding"</li><hr>
  <li class="listBold">Reserve Online:</li>
  <li><a href="http://www.westinseattle.com/"></a></li><hr>
  <li>Use "TheJohnsons" in the coupon code section</li><hr>
  <li>Please reserve before 4.20.18</li>
</ul>
