<div class="travelBackground">
  <div id="planeToDown">
    <h2>Airport to Seattle</h2>
    <ol>
      <li>The Link Train <ul><li>Leaves every 10 minutes during daytime hours</li><li>Goes directly downtown</li><li>$3</li></ul></li>
      <li>Shuttle Express<ul><li>May take up to 40 minutes to leave airport</li><li>Kids under 17 ride free!</li><li>$16</li></ul></li>
      <li>Uber<ul><li>Almost instant pick up</li><li>$30-$60 depending on which service you pick</li></ul></li>
    </ol>

  </div>

</div>
